<header class="sticky">

  <a href="{{'/' | relative_url }}"
     class="logo">{{ site.name }}
  </a>

  <a href="{{'/' | relative_url }}"
     class="button"><span class="fas fa-home"></span> Home
  </a>

  {% if site.data.social.github %}
    <a href="{{ site.data.social.github.link }}"
       class="button">
      <span class="fab fa-github"></span> GitHub
    </a>
  {% endif %}

  <a href="{{'feed.xml' | relative_url }}"
     class="button"><span class="fas fa-rss"></span> RSS
  </a>

</header>
