<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  {{ content }}

  <footer>
    <section class="copyright">
    <a href="{{ site.baseurl }}">{{ site.name }}</a> &copy; 
        {{"now" | date: "%Y"}}
    </section>
  </footer>
</body>

</html>
